<?xml version="1.0"?>
<launch>
    <param name ="use_sim_time" value="true"/>
    <include file="$(find webots_ros)/launch/webots.launch">
        <arg name="mode" value="pause"/>
        <arg name="world" value="$(find factory_webots)/worlds/factory.wbt"/>
    </include>
<!--    <arg name="auto-close" default="false" doc="Startup mode"/>-->
<!--    <include file="$(find factory_webots)/launch/robot_controller.launch">-->
<!--        <arg name="auto-close" value="$(arg auto-close)"/>-->
<!--    </include>-->
</launch>